#contact_info{
    float:left;
    min-width: 150px;
    padding-right: 20px;
    width: 95%;
    margin: auto;
}

input[type=radio]{
    background: none !important;
}

#contact_info h2{
    float:left;
    margin-top: 0px;
    padding-top: 0px;
}

#contact_info #contact_form{
    width: 55%;
    margin:auto;
 
    padding: 20px;
    background: #343434;
    background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#282828));
    background: -moz-linear-gradient(top,  #343434,  #282828);
    
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -o-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
 
    border: 1px #282828 solid;
    clear:both;
    margin-bottom: 30px;
    float:left;
}

#contact_form label{
    height: 60px;
    min-width: 340px;
    padding: 5px;
    clear:both;
    display: block;
    color: White;
    font-size: 14pt;
    position: relative;
}

#contact_form .message{
    color: White;
    font-weight:bold;
    font-size: 11pt;
    line-height: 20px;
    display: block;
}

#contact_form label input,#contact_form label textarea{ 
    width: 350px; 
}

#contact_form p{
    color: White;
    font-size: 10pt;
    font-weight: 600;
}

#contact_form select{
    width: 390px;
    margin-left: 3px;
    margin-bottom: 20px;
}

#contact_form label input[type=radio]{
    width: auto;
    float:none;
    display:inline;
}

#contact_form label .required{
    border: 2px solid #e44f31;
}
    
#contact_form .lookup_selector{
    width:385px;
    text-align:center;
    margin-bottom:30px;
}

#contact_form label input, #contact_form textarea, #contact_form select{
    font-size: 16px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    text-shadow: 1px 1px 0px #fff;
    
    -webkit-box-shadow: -1px -1px 0px #000;
    -moz-box-shadow: -1px -1px 0px #000;
    -o-box-shadow: -1px -1px 0px #000;
    box-shadow: -1px -1px 0px #000;
    
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background: -moz-linear-gradient(top,  #ffffff,  #efefef);
    display: block;
    outline: none;
    float:left;
}

#contact_form .input_box{
    height: 90px;
    clear:both;
}

#contact_form .sliding_label{
    background: #f2791d;
    width: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    height: 25px;
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
    top: 10px;
}

#contact_form .sliding_label span{
    font-size: 1em;
    color: white;
    font-weight: bold;
}

#contact_form input[type=submit]{
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 16pt;
    padding: 20px;
    width: 140px;
    margin-left: 260px;
 
    text-shadow: 0px 1px 2px #000;
 
    -webkit-box-shadow: -1px -1px 0px #4bc824, 1px 1px 0px #000;
    -moz-box-shadow: -1px -1px 0px #4bc824, 1px 1px 0px #000;
    -o-box-shadow: -1px -1px 0px #4bc824, 1px 1px 0px #000;
    box-shadow: -1px -1px 0px #4bc824, 1px 1px 0px #000;
    
    background: #205f0d;
    background: -webkit-gradient(linear, left top, left bottom, from(#369a18), to(#205f0d));
    background: -moz-linear-gradient(top,  #369a18,  #205f0d);
    
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius:10px;
    margin-top: 10px;
}

#contact_form input[type=submit]:hover{
    background: #205f0d;
    background: -webkit-gradient(linear, left top, left bottom, from(#46b725), to(#205f0d));
    background: -moz-linear-gradient(top,  #205f0d,  #46b725);
}

#contact_form input[type=submit]:active{
    -webkit-box-shadow: -1px -1px 0px #000;
    -moz-box-shadow: -1px -1px 0px #000;
    -o-box-shadow: -1px -1px 0px #000;
    box-shadow: -1px -1px 0px #000;
    
    background: #205f0d;
    background: -webkit-gradient(linear, left top, left bottom, from(#46b725), to(#205f0d));
    background: -moz-linear-gradient(top,  #46b725,  #205f0d);
}

#contact_info #info{
    min-width: 35%;
    width: auto;
    max-width: 38%;
    float:left;
    margin-left: 10px;
}

#contact_info #info div{
    font-size: 11pt;
    font-weight:lighter;
    min-height: 20px;
    display: none;
    clear: both;
}

#contact_info #info div.show{
    display: block;
}

#contact_info div .heading{
    font-weight: bold;
}

#contact_info div .text{
    float: right;
}

#contact_info #map_canvas{
    width: 100%;
    height: 250px !important;
    float:right;
    border-radius: 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px;
    margin-bottom: 20px;
    border: 2px solid #343434;
    box-shadow: 3px 3px 3px #343434;
    -webkit-box-shadow: 3px 3px 3px #343434;
    -moz-box-shadow: 3px 3px 3px #343434;
    display:block !important;
}

#contact_info #map_canvas div{
    display: block;
}

#contact_info #info #phone_number, #contact_info #info #fax_number{
    width: 80%;
}

#contact_info #info #services h4{
    text-align: center;
    border-bottom: 1px solid #343434;
}

#contact_info #info #services table{
    width: 100%;
}

#contact_info #info #services table td{
    padding-top: 10px;
}

#contact_info #info #services table tr:first-child td{
    padding-top: 0px;
}

#contact_info #info #services table td.desc{
    font-size: 8pt;
    color: #4c4c4c;
    padding-top: 0px;
}

